<header class="p-3 mb-3 border-bottom bg-white shadow-sm">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      
      <!-- Logo -->
      <a class="navbar-brand me-0" routerLink="/dashboard">
        <img src="/images/logo.png" alt="Logo CFAO" height="50">
      </a>

      <!-- Menu de navigation -->
      <ul class="nav col-12 col-md-auto justify-content-center mb-2 mb-md-0" style="gap: 1.5rem">
        <li><a routerLink="/dashboard" class="nav-link fw-medium" routerLinkActive="active-link">DASHBOARD</a></li>
        <li><a routerLink="/equipements" class="nav-link fw-medium" routerLinkActive="active-link">EQUIPEMENTS</a></li>
        <li><a routerLink="/consommables" class="nav-link fw-medium" routerLinkActive="active-link">CONSOMMABLES</a></li>
        <li><a routerLink="/modop" class="nav-link fw-medium" routerLinkActive="active-link">MODOP</a></li>
      </ul>

      <!-- Infos utilisateur -->
      <div class="d-flex align-items-center gap-3">
        <span class="fw-semibold">Bonjour, <strong>  {{ username | uppercase }}</strong></span>
        <button class="btn btn-outline-danger btn-sm" (click)="logout()">Déconnexion</button>
      </div>

    </div>
  </div>
</header>
